<!DOCTYPE html>
<html>

<head>
  <title>New Message</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('header') %>
  <main>
    <form method="POST" action="/new">
      <h3 class="form-title">Add a new message!</h3>
      <input type="text" name="messageUser" id="name" required minlength="3" placeholder="Your Name..." />
      <input type="text" name="messageText" id="message" required minlength="3" placeholder="Write a message..." />
      <button type="submit">Submit</button>
    </form>
    <a href="/">Back to home</a>
  </main>
</body>

</html>