<html>

<head>
  <title>
    Mini Message Board
  </title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('header') %>
  <main>
    <ul class="messages-container">
      <% messages.map(message => { %>
      <li class="message">
        <h3>From: <%= message.user %></h3>
        <p>Message: <%= message.text %></p>
        <p>Date: <%= message.added %></p>
      </li>
      <% }) %>
    </ul>
    <a href="/new">Add message!</a>
  </main>
</body>

</html>